<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header}}
    <p>This Small Weather Application recreated By: {{name}} with the help of Node.js and Express. It uses geo location data from MapQuest to retrieve weather information from DarkSky. </p>
    {{> footer}}
    <script src="js/index.js"></script>
</body>

</html>